
.jokes-badge{
  background-color: #FFFFFF;
  line-height: 3em;
  margin: 0.5% 0% 0.5% 0;
  display: flex;
  flex-direction: row;
  span{
    
      width: 100%;
      color: #000000;
      background-color: #ffffff;
  }
  .joke-message-mode{
    float: right;
    text-align: center;
    width: 10%;
  }
  .joke-message{
   
    flex-wrap: wrap;
    font-size: 0.8em;
  }

}